    .title_descrip {
    color: #06bb06;
    font-size: 42px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 5px #fce703, 0 0 10px #fce703, 0 0 20px #fce703;
  }

  .container_all_body {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    margin-top: 6rem;
    /* border: 2px solid red; */
  }

  .container_descrip {
    display: flex;
    justify-content:center;
    flex-direction: column;
  }
  
  .p_descrip {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    text-align: justify;
    background: rgb(147, 239, 150);
    box-shadow: 0 0 5px #03fce3, 0 0 10px #03fce3;
  }
  
  .card-group {
    width: 40rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.5s, box-shadow 0.5s;
  }
  
  .fondo {
    background: none;
    border: none;
    margin: 8px;
  }
  
  .image_card {
    transition: transform 0.3s ease-in-out;
    
  }
  
  .image_card:hover {
    transform: scale(1.1) translateY(-10px);
    border-radius: 25px;
    border: 2px solid aqua;
  }
  
  .card-title {
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #bb53d8, 0 0 10px #bb53d8, 0 0 20px #bb53d8;
  }

  /* @media (max-widh: 400) {
    .container_all_body{
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      border: 2px solid red;
      background-color: #bb53d8;
    }
  } */
  
